# Исследование надежности заемщиков

**Описание проекта**

Заказчик данного исследования - кредитный отдел банка, и цель его - определить, как влияет семейное положение и количество детей у клиента на вероятность своевременного погашения кредита. Банк предоставляет статистику по платежеспособности клиентов, и на основе этих данных будет проведено исследование.

Результаты будут использованы при создании модели кредитного скоринга - это система, предназначенная для оценки вероятности успешного возврата кредита заемщиком.

**Цель проекта**

Выявить, есть ли зависимость между семейным положением и количеством детей клиента и фактом погашения кредита в срок.

**Описание данных**

* *children* — количество детей в семье
* *days_employed* — общий трудовой стаж в днях
* *dob_years* — возраст клиента в годах
* *education* — уровень образования клиента
* *education_id* — идентификатор уровня образования
* *family_status* — семейное положение
* *family_status_id* — идентификатор семейного положения
* *gender* — пол клиента
* *income_type* — тип занятости
* *debt* — имел ли задолженность по возврату кредитов
* *total_income* — ежемесячный доход
* *purpose* — цель получения кредита

**План работы**
1. Провести первичный анализ данных
2. Заполнить пропущенные значения
3. Привести данные к типам, пригодным для дальнейшего анализа
4. Очистить данные от аномальных значений и дубликатов
5. Провести категоризацию данных для удобства дальнейшего анализа
6. Изучить зависимости между различными параметрами и фактом возврата кредита в срок
7. Интепретировать полученные результаты и сделать выводы

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

**Вывод:** В ходе первичного анализа данных мы обнаружили столбцы с пропущенными значениями - *days_employed* и *total_income.* Для дальнейшего анализа необходимо будет заполнить пропущенные в них значения.

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

**Вывод:** Заполнили пропуски в столбце *income_type* медианным значением в соответствии с типом занятости.

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

**Вывод:** Обработали отрицательные значения в столбце *income_type*, а также удалили аномальные значения в столбце *children*.

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

**Вывод**: Заполнили медианным значением в соотвествии с типом занятости пропуски в столбце *days_employed*. На данном этапе в данных не осталось пропущенных значений.

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

**Вывод:** данные в столбце *total_income* преобразованы в тип, пригодный для дальнейшего анализа.

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

**Вывод:** Были обработаны неявные и удалены явные дубликаты.

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

**Вывод:** Была произведена категоризация данных по ежемесячному доходу и цели кредита. Это необходимо для дальнейшего анализа зависимости между этими параметрами и фактом возврата кредита в срок.

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Для того, чтобы узнать, если ли зависимость между количеством детей и возвратом кредита в срок, посчитаем долю лиц, имевших задолжности по кредитам, сгруппировав данные по количеству детей. Чем ближе получившаяся доля к единице, тем больше лиц с этим количеством детей имело проблемы с возвратом кредита в срок.
Если доля будет расти (или падать) с ростом количества детей, то можно говорить о наличии некоторой зависимости.

In [22]:
# подсчитаем количество лиц, имевших задолжности по кредитам, сгруппировав по количеству детей
data.groupby('children')['debt'].sum()

children
0    1063
1     444
2     194
3      27
4       4
5       0
Name: debt, dtype: int64

In [23]:
# подсчитаем количество лиц, бравших кредиты, сгруппировав по количеству детей
data.groupby('children')['debt'].count()

children
0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: debt, dtype: int64

In [24]:
# подсчитаем долю лиц, имевших задолжности по кредитам, сгруппировав по количеству детей
data.groupby('children')['debt'].mean()

children
0    0.075438
1    0.092346
2    0.094542
3    0.081818
4    0.097561
5    0.000000
Name: debt, dtype: float64

In [25]:
data.pivot_table(index='children', values='debt', aggfunc= ['count', 'sum','mean'])

          count   sum      mean
           debt  debt      debt
children
0         14091  1063  0.075438
1          4808   444  0.092346
2          2052   194  0.094542
3           330    27  0.081818
4            41     4  0.097561
5             9     0  0.000000

<div class="alert-success" style="border-radius: 10px; padding: 20px">
<b>Комментарий ревьюера V2 ✔️</b>

Это правильная сводная таблица со всеми нужными для сравнения категорий данными. </div>

**Вывод:** 
Однозначно можно сказать, что лица без детей имеют меньше проблем в возвратом кредита в срок.
С ростом количества детей доля лиц с задолжностями по кредиту так же растет, за исключением значения доли у людей с 3 детьми. В таком случае, либо зависимости с количеством детей нет, либо есть неучтенные факторы (например, субсидии для семей с 3 детьми) или выборка на семьях с 3 детьми нерелеванта по еще каким-то причинам.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Для того, чтобы узнать, если ли зависимость между семейным положением и возвратом кредита в срок, посчитаем долю лиц, имевших задолжности по кредитам, сгруппировав данные по семейному положению. Чем ближе получившаяся доля к единице, тем больше лиц с этим семейным положением имело проблемы с возвратом кредита в срок.

In [26]:
# подсчитаем количество лиц, имевших задолжности по кредитам, сгруппировав по семейному положению
data.groupby('family_status')['debt'].sum()

family_status
Не женат / не замужем    273
в разводе                 84
вдовец / вдова            63
гражданский брак         385
женат / замужем          927
Name: debt, dtype: int64

In [27]:
# подсчитаем количество лиц, бравших кредиты, сгруппировав по семейному положению
data.groupby('family_status')['debt'].count()

family_status
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
гражданский брак          4134
женат / замужем          12261
Name: debt, dtype: int64

In [28]:
# подсчитаем долю лиц, имевших задолжности по кредитам, сгруппировав по семейному положению
data.groupby('family_status')['debt'].mean()

family_status
Не женат / не замужем    0.097639
в разводе                0.070648
вдовец / вдова           0.066246
гражданский брак         0.093130
женат / замужем          0.075606
Name: debt, dtype: float64

In [29]:
data.pivot_table(index='family_status', values='debt', aggfunc= ['count', 'sum','mean'])

                       count  sum      mean
                        debt debt      debt
family_status
Не женат / не замужем   2796  273  0.097639
в разводе               1189   84  0.070648
вдовец / вдова           951   63  0.066246
гражданский брак        4134  385  0.093130
женат / замужем        12261  927  0.075606

**Вывод:**
Из полученных данных можно сделать вывод, что лица, не состоящие или состоявшие в официальном браке чаще имеют проблемы с возвратом кредита в срок.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Для того, чтобы узнать, если ли зависимость между уровнем дохода и возвратом кредита в срок, посчитаем долю лиц, имевших задолжности по кредитам, сгруппировав данные по категории дохода (чем ближе буква обозначения категории к началу алфавита, тем выше доход).
Чем ближе получившаяся доля к единице, тем больше лиц с этим уровнем дохода имело проблемы с возвратом кредита в срок.
Если доля будет расти (или падать) с ростом дохода, то можно говорить о наличии некоторой зависимости.

In [30]:
# подсчитаем количество лиц, имевших задолжности по кредитам, сгруппировав по категории дохода
data.groupby('total_income_category')['debt'].sum()

total_income_category
A       2
B     354
C    1353
D      21
E       2
Name: debt, dtype: int64

In [31]:
# подсчитаем количество лиц, бравших кредиты, сгруппировав по категории дохода
data.groupby('total_income_category')['debt'].count()

total_income_category
A       25
B     5014
C    15921
D      349
E       22
Name: debt, dtype: int64

In [32]:
# подсчитаем долю лиц, имевших задолжности по кредитам, сгруппировав по категории дохода
data.groupby('total_income_category')['debt'].mean()

total_income_category
A    0.080000
B    0.070602
C    0.084982
D    0.060172
E    0.090909
Name: debt, dtype: float64

**Вывод:** 
На полученных расчетах доли не наблюдается зависимости между уровнем дохода и возврата кредита в срок.
Результаты могут быть искажены из-за категории C, в которую попала большая часть наблюдений. Возможно, для анализа этой зависимости стоит пересмотреть границы категорий.

In [33]:
data.pivot_table(index='total_income_category', values='debt', aggfunc= ['count', 'sum','mean'])

                       count   sum      mean
                        debt  debt      debt
total_income_category
A                         25     2  0.080000
B                       5014   354  0.070602
C                      15921  1353  0.084982
D                        349    21  0.060172
E                         22     2  0.090909

    
Вывод: Выборка в рамках выбраных категорий несбалансирована, поэтому сделать однозначный вывод о зависимости затруднительно. Однако, можно заметить, что из двух наиболее крупных категорий категория B имеет меньшую долю невозврата кредита в срок, чем категория C с меньшим доходом. Возможно, для анализа этой зависимости стоит пересмотреть границы категорий. </div>

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

Для того, чтобы узнать, если ли зависимость между целью кредита и возвратом кредита в срок, посчитаем долю лиц, имевших задолжности по кредитам, сгруппировав данные по цели кредита.
Чем ближе получившаяся доля к единице, тем больше лиц с этой целью имело проблемы с возвратом кредита в срок.

In [34]:
# подсчитаем количество лиц, имевших задолжности по кредитам, сгруппировав по категории цели кредита
data.groupby('purpose_category')['debt'].sum()

purpose_category
операции с автомобилем      400
операции с недвижимостью    780
получение образования       369
проведение свадьбы          183
Name: debt, dtype: int64

In [35]:
# подсчитаем количество лиц, бравших кредиты, сгруппировав по категории цели кредита
data.groupby('purpose_category')['debt'].count()

purpose_category
операции с автомобилем       4279
операции с недвижимостью    10751
получение образования        3988
проведение свадьбы           2313
Name: debt, dtype: int64

In [36]:
# подсчитаем долю лиц, имевших задолжности по кредитам, сгруппировав по категории цели кредита
data.groupby('purpose_category')['debt'].mean()

purpose_category
операции с автомобилем      0.093480
операции с недвижимостью    0.072551
получение образования       0.092528
проведение свадьбы          0.079118
Name: debt, dtype: float64

In [37]:
data.pivot_table(index='purpose_category', values='debt', aggfunc= ['count', 'sum','mean'])

                          count  sum      mean
                           debt debt      debt
purpose_category
операции с автомобилем     4279  400  0.093480
операции с недвижимостью  10751  780  0.072551
получение образования      3988  369  0.092528
проведение свадьбы         2313  183  0.079118

**Вывод:** 
Кредиты, полученные на свадьбу и недвижимость, чаще возвращают в срок, чем на автомобили и образование. 
Это может быть связано с тем, что кредит на свадьбу и покупку недвижмости чаще выплачивают люди в браке, зачастую имеющие больше одного источников дохода.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Пропуски были в столбцах days_employed и total_income. 
Их причиной могло быть:
1. некорректное заполнение или ошибки при вводе в банковскую систему;
2. остутствие трудового опыта и дохода у лиц, получавших кредит;
3. неофицальное трудоустройство;
4. особенности, связанные с типом занятости и получении государственных выплат (например, у пенсионеров, студентов и лиц в декрете).

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

In [38]:
print(data['days_employed'].mean())
print(data['days_employed'].median())

67148.97213258488
1996.732855437927


*Ответ:* При расчете среднего арифмитического большее влияние окажут выбросы, что сделает это значение менее адекватно отражающем действительность. Медиана является более объективным показателем среднего значения.

### Шаг 4: общий вывод.


*Вывод* 

Для анализа получены данные о платежеспособности клиентов банка. На этапе предобработки был проведен первичный анализ для выявления проблем в данных и заполнены пропущенные значения, затем данные были очищены от аномальных значений и дубликатов. Для удобства дальнейшего анализа была проведена категоризация по ежемесячному доходу и цели кредита.

Подводя итог, можно сказать, что однозначно были выявлены зависимости между семейным положением и наличием детей и возвратом кредита в срок. Лица, состоящие или состоявшие в официальном браке имеют меньше проблем с возвратом кредита в срок, как и лица без детей. С ростом количества детей доля людей, имеющих проблемы с возвратом кредита в срок увеличивается, за исключением клиентов с 3 детьми - они имеют наименьший показатель среди лиц с детьми в целом. 

Сделать однозначный вывод о зависимости факта возврата кредита в срок от ежемесячного дохода затруднительно из-за несбалансированной выборки. Возможно, для анализа этого фактора стоит пересмотреть границы категорий. Однако, можно заметить, что из двух наиболее крупных категорий категория с большим доходом имеет меньшую долю невозврата кредита в срок, чем категория с меньшим доходом.

Также кредиты, полученные на свадьбу и недвижимость, чаще возвращают в срок, чем на автомобили и образование. Это может быть связано с тем, что кредит на свадьбу и покупку недвижмости чаще выплачивают люди в браке, зачастую имеющие больше одного источников дохода.

Рекомендуется проконсультироваться с разработчиками банковской системы для выявления причин возникновения пропущенных значений в данных, а также ввести валидацию данных чтобы исключить ошибки по причине человеческого фактора. В дальнейшем это позволит оперировать более объективными данными при анализе и повысит точность результатов.